<h2>Add Timezone</h2>

<select name="timezones" onchange={{action "setSelectedTimezone" value="target.value"}}>
	{{#each timezones as |timezone|}}
		<option value={{timezone.name}}>{{timezone.name}}</option>
	{{/each}}
</select>

<button {{action 'add'}}>Add Timezone</button>

<h2>My Timezones</h2>

{{log model}}

<ul>
{{#each model}}
  <li>{{name}} <button {{action 'remove' this}}>Delete</button></li>
{{/each}}
</ul>


